/* CSS HEX - coolors.co 
--fulvous: #DA8700ff;
--blue-sapphire: #03647Dff;
--dark-sienna: #4A2127ff;
--mauvelous: #E7A0A8ff;
--lavender-web: #D7E0F1ff;
*/

.aside-tabela  {
    width: 60%;
    padding-left: 10px;
    margin-left: 10px;
    float: right;
    font-style: italic;
    color: #03647Dff;
    text-align: left;
}

