/* EXERCICIO BOX MODEL */

.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }
  
  .width-and-height {
    height: 50px;
    width: 50px;
  }
  
  /* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
  .padding {
    padding: 20px;
  }
  
  /* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
  .margin {
    margin: 30px;
  }
  
  /* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
  .border {
    border: 5px solid black;
  }

/* EXERCICIO SUPER MARIO */

  .super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 380px;
    left: 70px;
  }
  
  .baloon {
    position: absolute;
    z-index: 3;
    left: 220px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    left: 240px;
    top: 120px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    top: 200px;
    left: 520px;

  }

  /* EXERCICIO PALETA DE CORES */

  h1, p {
    text-align: center;
  }

  ol:hover {
    background-color: rgb(179, 133, 202);
  }

  li:active {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  div:hover {
    border: 3px solid black;
  }

/* --onyx: #32373bff;
--cool-grey: #8c86aaff;
--mint-cream: #f7fff7ff;
--bittersweet: #ff6b6bff;
--yellow-crayola: #ffe66dff; */

/* Precisei assistir a aula do Gus no gabarito porque eu não tinha conhecimento
dessa :nth-of-type() e lá ele explicou certinho o que é e como usar. */

  div:nth-of-type(1) {
    background-color: #32373bff;
  }

  div:nth-of-type(2) {
    background-color: #8c86aaff;
  }

  div:nth-of-type(3) {
    background-color: rgb(205, 223, 141);
  }

  div:nth-of-type(4) {
    background-color: #ff6b6bff;
  }

  div:nth-of-type(5) {
    background-color: #ffe66dff;
  }

  /* Estilizar cada uma das <h3> */

  div:nth-of-type(1) > h3 {
    color: #f7fff7ff;
  }

  div:nth-of-type(2) > h3 {
    color: rgb(44, 4, 16);    
  }

  div:nth-of-type(3) > h3 {
    color: rgb(226, 35, 35);
  }

  div:nth-of-type(4) > h3 {
    color: rgb(14, 99, 14);
  }

  div:nth-of-type(5) > h3 {
    color: rgb(47, 0, 255);
  }

  /* Terceira div maior que as demais */

  div:nth-of-type(3) {
    height: 50px;
  }
  